@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');

*{
    font-family: 'Istok Web', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow: hidden;
    color: white;
}

body{
    background-image: url("./Images/Screen\ 20.png");  
}

#puzzle{
    /* box-shadow: 2rem 2rem black; */
    box-shadow: 0 0 1 #ecd574 ;
    /* border: 1px solid red ; */
    width: 36rem;
    height: 24rem;
    margin: 2rem 22rem;
    display: flex;
    flex-wrap: wrap;
}

#puzzle img{
    width: 14rem;
    height: 10rem;
}

#timer{
    /* border: 1px solid red; */
    height: 3rem;
    width: 13rem;
    border-radius: 35px;
    margin: 1rem 34rem 0rem;
    background-color: rgba(241, 72, 122, 1);
    font-size: 30px;
    padding-top: 7px;
} 
    

h2{
    padding-top: 1.5rem;
    font-size: 2rem;
}

h3{ 
    font-size: 30px;
    padding-top: 3px;
}

h4{
    position: absolute;
    font-size: 27px;
    right: 27rem;
    top: 2rem;
}

.back{
    border: 0;
    position: absolute;
    height: 3rem;
    width: 3rem;
    left: 1.5rem;
    bottom: 33rem;
    border-radius: 50px;
    background-color: rgba(241, 72, 122, 1);
    transition: 0.5s ease;
}

.back img{
    margin-top: 0.4rem;
}

.back:hover{
    background-color: #5698d0;
}

/*  */

.buttons{
    /* border: 1px solid red; */
    border: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 80rem;
    height: 4rem;
    margin-left: 20rem;
    position: absolute;
    bottom: 3rem;

}

#restart-button{
    border: 0px;
    width: 21rem;
    height: 4rem;
    border-radius: 35px;
    background-color: rgba(241, 72, 122, 1);
    font-size: 45px;
    font-weight: bold;
    transition: 0.5s ease;
}

#restart-button:hover{
    background-color: #5698d0;
}

.complete-puzzle{
    /* border: 2px solid  #5698d0; */
    position: relative;
    width: 50rem;
    height: 32rem;
    margin: 13rem 35rem;

}

.complete-puzzle img{
    width: 50rem;
    height: 32rem;
}

#refrenceImg{
    width: 10rem;
    height: 7rem;
    position: absolute;
    left: 68rem;
    top: 2rem;
}

/* .incomplete-puzzle{
    border: 1px solid red;
    position: relative;
    width: 34.5rem;
    height: 22.5rem;
    margin: 8rem 25rem;
}

.incomplete-puzzle img{
    width: 34.5rem;
    height: 22.5rem;
} */

.incomplete-puzzle{
    /* box-shadow: 2rem 2rem black; */
    box-shadow: 0 0 1 #ecd574 ;
    border: 1px solid red ;
    width: 34rem;
    height: 24rem;
    margin: 6rem 24rem;
    display: flex;
    flex-wrap: wrap;
}

.incomplete-puzzle img{
    width: 34.5rem;
    height: 22.5rem;
}

#lose-restart-button{
    border: 0;
    width: 11rem;
    height: 3rem;
    position: absolute;
    border-radius: 35px;
    background-color: rgba(241, 72, 122, 1);
    font-size: 27px;
    bottom: 2rem;
    left: 36rem;
}

/* responsive */
@media screen and  (max-width: 600px)
{

    body{
        background-image: url("./Images/level\ bg\ img.png");  
        background-size: cover;
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
    }

    #puzzle{
        border: 1px solid red;
        width: 14rem;
        height: 10rem;
        margin: 45px 20px;
    }

    #puzzle img{
        width: 14rem;
        height: 10rem;
    }

    .timer{
        width: 12rem;
        height: 2.5rem;
        margin: 5rem 2.3rem 0rem;  
    }

    h2{
        margin-top: 2rem;
        font-size: 25px;

    }

    h3{ 
        font-size: 25px;
        padding-top: 3px;
    }

    h4{
        font-size: 17px;
        left: 2.1rem;
        bottom: 24rem;
    }
    
    /* win page */
    .complete-puzzle{
        border: 1px solid red;
        width: 14rem;
        height: 10rem;
        margin: 140px 20px;
    }

    .back{
        height: 30px;
        width: 30px;
        left: 0.7rem;
        bottom: 29.1rem;
        font-size: 2px;

    }
    
    .back img{
        margin-top: 1px;
        height: 20px;
        width: 20px;

    }

    /*  */

    .buttons{
        border: 1px solid red;
        width: 9rem;
        height: 2.5rem;
        margin-left: 3.7rem;
        bottom: 5rem;
    }
    
    #restart-button{
        /* border: 1px solid red; */
        border: 0px;
        width: 9rem;
        height: 2.5rem;
        border-radius: 35px;
        background-color: rgba(241, 72, 122, 1);
        font-size: 25px;
        font-weight: bold;
    }
    
    .complete-puzzle img{
        width: 50rem;
        height: 32rem;
    }
} 
