@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');

*{
    font-family: 'Istok Web', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow: hidden;
    color: white;
}

body{
    background-image: url("./Images/Screen\ 20.png");  
}

#puzzle{
    width: 54vw;
    height: 34vw;
    margin: 1vw 25vw;
    display: flex;
    flex-wrap: wrap;
}

.blockImg{
    width: 13vw;
    height: 8.5vw;
}

audio{
    display: none;
}


#timer{
    height: 3vw;
    width: 15vw;
    border-radius: 35px;
    margin: 1.5vw 43vw 0vw;
    background-color: rgba(241, 72, 122, 1);
    font-size: 25px;
    padding-top: 7px;
} 
    

h2{
    padding-top: 1vw;
    font-size: 30px;
}

h3{ 
    font-size: 30px;
    padding-top: 3px;
}

h4{
    position: absolute;
    font-size: 27px;
    right: 27rem;
    top: 2rem;
}

.back{
    border: 0;
    position: absolute;
    height: 3.5vw;
    width: 3.5vw;
    left: 1.5vw;
    bottom: 41vw;
    border-radius: 50px;
    background-color: rgba(241, 72, 122, 1);
    transition: 0.5s ease;
}

.back img{
    margin-top: 0.4vw;
    transform: scale(1.1);
}

.back:hover{
    background-color: #5698d0;
}

/*  */

.buttons{
    border: 1px solid red;
    border: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 4vw;
    margin-left: 20vw;
    position: absolute;
    bottom: 3vw;

}

#restart-button{
    border: 0px;
    width: 21vw;
    height: 4vw;
    border-radius: 35px;
    background-color: rgba(241, 72, 122, 1);
    font-size: 45px;
    font-weight: bold;
    transition: 0.5s ease;
}

#restart-button:hover{
    background-color: #5698d0;
}

.complete-puzzle{
    /* border: 2px solid  #5698d0; */
    position: relative;
    width: 50rem;
    height: 32rem;
    margin: 13rem 35rem;

}

.complete-puzzle img{
    width: 50rem;
    height: 32rem;
}

#refrenceImg{
    width: 12vw;
    height: 8vw;
    position: absolute;
    left: 85vw;
    top: 2vw;
}

/* .incomplete-puzzle{
    border: 1px solid red;
    position: relative;
    width: 34.5rem;
    height: 22.5rem;
    margin: 8rem 25rem;
}

.incomplete-puzzle img{
    width: 34.5rem;
    height: 22.5rem;
} */

.incomplete-puzzle{
    /* box-shadow: 2rem 2rem black; */
    box-shadow: 0 0 1 #ecd574 ;
    border: 1px solid red ;
    width: 34rem;
    height: 24rem;
    margin: 6rem 24rem;
    display: flex;
    flex-wrap: wrap;
}

.incomplete-puzzle img{
    width: 34.5rem;
    height: 22.5rem;
}

#lose-restart-button{
    border: 0;
    width: 11rem;
    height: 3rem;
    position: absolute;
    border-radius: 35px;
    background-color: rgba(241, 72, 122, 1);
    font-size: 27px;
    bottom: 2rem;
    left: 36rem;
}

/* responsive */
@media only screen and  (max-width: 900px)
{

    body{
        background-image: url("./Images/level\ bg\ img.png");  
        background-size: cover;
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
    }

    #puzzle{
        border: 1px solid red;
        width: 89vw;
        height: 60vw;
        margin: 10vw 23px;
    }

    #puzzle img{
        width: 22.25vw;
        height: 15vw;
    }

    #timer{
        height: 11vw;
        width: 47vw;
        margin: 20vw 27vw 0vw;
        font-size: 26px;
        padding-top: 4vw;
    }

    h2{
        margin-top: 40vw;
        font-size: 45px;

    }

    #refrenceImg{
        width: 23vw;
        height: 18vw;
        position: absolute;
        left: 71vw;
        top: 6vw;
    }

    h3{ 
        font-size: 25px;
        padding-top: 3px;
    }

    h4{
        font-size: 17px;
        left: 2.1rem;
        bottom: 24rem;
    }
    
    /* win page */
    .complete-puzzle{
        border: 1px solid red;
        width: 14rem;
        height: 10rem;
        margin: 140px 20px;
    }

    .back{
        height: 10vw;
        width: 10vw;
        left: 3vw;
        bottom: 200vw;
    }

    .back img{
        margin-top: 1.5vw;
        width: 20px;
        height: 20px;
    }
    /*  */

    .buttons{
        border: 1px solid red;
        width: 9rem;
        height: 2.5rem;
        margin-left: 3.7rem;
        bottom: 5rem;
    }
    
    #restart-button{
        /* border: 1px solid red; */
        border: 0px;
        width: 9rem;
        height: 2.5rem;
        border-radius: 35px;
        background-color: rgba(241, 72, 122, 1);
        font-size: 25px;
        font-weight: bold;
    }
    
    .complete-puzzle img{
        width: 50rem;
        height: 32rem;
    }
} 
