@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');

*{
    font-family: 'Istok Web', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    overflow: hidden;
}

body{
    margin: 0px;
}

/* main page */
#gamepage{
    height: 100vh;
    width: 100vw;
}

#bg-img{
    height: 100vh;
    width: 100vw;
}

#logo{
    height: 10vw;
    width: 28vw;
    position: absolute;
    left: 33vw;
    bottom: 26vw;
    /* border: 1px solid red ; */
}

#logo img{
    height: 10vw;
    width: 28vw;
}

#name{
    border: 0px;
    position: absolute;
    width: 19vw;
    height: 3vw;
    left: 40vw;
    bottom: 22.5vw;
    font-size: 22px;
    border-radius: 16px;
    color: black;

}

#nickname{
    border: 0px;
    position: absolute;
    width: 17vw;
    height: 2.5vw;
    left: 41vw;
    bottom: 17vw;
    font-size: 17px;
    color: black;
    border-radius: 16px;
}

#play-button{
    border: 0px;
    position: absolute;
    height: 4vw;
    width: 14vw;
    left: 42.5vw;
    bottom: 10vw;
    border-radius: 50px;
    background-color: rgba(241, 72, 122, 1);
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s ease;
}

#play-button:hover{
    background-color: #5698d0;
    transform: scale(1.1);
}

::placeholder{
    color: rgba(175, 172, 172, 1);
}

/* Instructions */

#instructions{
    position: absolute;
    background-color: aliceblue;
    left: 31vw;
    bottom: 11vw;
    height: 29vw;
    width: 37vw;
    border-radius: 16px;
    padding: 2vw;
}

#start-button{
    border: 0px;
    position: absolute;
    height: 4vw;
    width: 14vw;
    left: 42.5vw;
    bottom: 4vw;
    border-radius: 35px;
    background-color: rgba(241, 72, 122, 1);
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s ease;
}

#start-button:hover{
    background-color: #5698d0;
    transform: scale(1.1);
}

#displayInfo{
    color: #5698d0;
    font-size: 19px;
}

h3{
    color: black;
    font-size: 18px;
    padding: 1vw 0vw ;
}

p{
    color: rgb(51, 49, 49);
    font-size: 16px;
    gap: 3vw;
    padding-left: 1vw;
}

h1{
    color: #5698d0;
    font-size: 25px;
}
.back{
    border: 0;
    position: absolute;
    height: 3.5vw;
    width: 3.5vw;
    left: 1.5vw;
    bottom: 41vw;
    border-radius: 50px;
    background-color: rgba(241, 72, 122, 1);
    transition: 0.5s ease;
}

.back img{
    margin-top: 0.4vw;
    transform: scale(1.1);
}

.back:hover{
    background-color: #5698d0;
}

/* result */

#playAgain{
    border: 0px;
    position: absolute;
    height: 4vw;
    width: 17vw;
    left: 41vw;
    bottom: 2.5vw;
    border-radius: 50px;
    background-color: rgba(241, 72, 122, 1);
    font-size: 30px;
    font-weight: bold;
}

#pictures-container{
    position: absolute;
    width: 55vw;
    height: 26vw;
    left: 22vw;
    bottom: 9vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1vw;
}

.pictures{
    width: 16vw;
    height: 11vw;
    border-radius: 16px;
}

.pictures img{
    width: 16vw;
    height: 11vw;
}

h2{
    position: absolute;
    font-size: 30px;
    left: 24vw;
    bottom: 38vw;
}


/* responsive */
@media only screen and  (max-width: 900px)
{   
    #gamepage{
        height: 100vh;
        width: 100vw;
        border: 1px solid red;
        
        
    }

    #bg-img{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        /* height: 100vh;
        width: 100vw; */
    }

 
    #logo{
        height: 24vw;
        width: 70vw;
        left: 14vw;
        bottom: 130vw;
    }
    
    #logo img{
        height: 24vw;
        width: 70vw;
    }
    #name{
        width: 15rem;
        height: 3rem;
        left: 6rem;
        bottom: 29rem;
        font-size: 20px;
        border-radius: 12px;
    }
    
    #nickname{
        width: 13rem;
        height: 2.7rem;
        left: 7rem;
        bottom: 24rem;
        font-size: 16px;
        border-radius: 12px;
    }
    
    #play-button{
        height: 4rem;
        width: 12rem;
        left: 7.5rem;
        bottom: 16rem;
        font-size: 34px;
    }
    
    
/* Instructions */

#instructions{
    left: 1rem;
    bottom: 12rem;
    height: 14rem;
    width: 14.5rem;
    border-radius: 14px;
    padding: 10px;
}

#start-button{
    height: 2.8rem;
    width: 9rem;
    left: 4rem;
    bottom: 6rem;
    font-size: 25px;
}

h3{
    font-size: 11px;
    font-weight: 9rem;
    padding: 0.7rem 0px;
}

p{
    font-size: 9px;
    line-height: 1.1rem;
    padding-left: 0.3rem;
}

.back{
    height: 30px;
    width: 30px;
    left: 0.7rem;
    bottom: 29.1rem;
}

.back img{
    margin-top: 0.3rem;
    width: 20px;
    height: 20px;
}

/* result */

#playAgain{
    height: 2.8rem;
    width: 10rem;
    left: 3.5rem;
    bottom: 6rem;
    font-size: 25px;
}

#pictures-container{
    width: 14.5rem;
    height: 15rem;
    left: 1rem;
    bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 0rem;
}

.pictures{
    width: 80px;
    height: 60px;
    font-size: 40px;
    border-radius: 6px;
}

.pictures img{
    width: 80px;
    height: 60px;
}

h2{
    font-size: 18px;
    left: 0.3rem;
    bottom: 26rem;
    padding: 0rem 1rem;
}
}