@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');

*{
    font-family: 'Istok Web', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow: hidden;
    color: white;
}

body{
    background-image: url("./Images/Screen\ 20.png");  
    position: absolute;
}

h2{
    /* padding-top: 1vw; */
    font-size: 25px;
    margin: 3vw 30vw 2vw;
}


/* win page */
.complete-puzzle{
    width: 54vw;
    height: 34vw;
    margin: 1vw 23vw;
}

.back{
    border: 0;
    position: absolute;
    height: 3.5vw;
    width: 3.5vw;
    left: 1.5vw;
    bottom: 38vw;
    border-radius: 50px;
    background-color: rgba(241, 72, 122, 1);
    transition: 0.5s ease;
}

.back img{
    margin-top: 0.4vw;
    transform: scale(1.1);
}

.back:hover{
    background-color: #5698d0;
}

/*  */

.buttons{
    border: 1px solid red;
    position: absolute;
    border: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    height: 4vw;
    bottom: 0.1vw;
    left: 20vw;
}

#restart-button, .score, #next-button{
    border: 1px solid red;
    border: 0px;
    width: 13vw;
    height: 3.5vw;
    border-radius: 35px;
    background-color: rgba(241, 72, 122, 1);
    font-size: 25px;
}

.score{
    font-size: 23px;
    padding-top: 5px;
    height: 3.1vw;
}

.complete-puzzle img{
    width: 45vw;
    height: 29vw;
}

/* responsive */
@media screen and  (max-width: 600px)
{

    body{
        background-image: url("./Images/level\ bg\ img.png");  
        background-size: cover;
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
    }

    h2{
        font-size: 9px;
        width: 10rem;
    }
    
    /* win page */
    .complete-puzzle{
        border: 1px solid red;
        width: 8rem;
        height: 6rem;
        margin: 12px 16px;
    }

    .back{
        height: 20px;
        width: 20px;
        left: 0.4rem;
        bottom: 30rem;
        font-size: 2px;

    }
    
    .back img{
        margin-top: 1px;
        height: 10px;
        width: 10px;

    }

    /*  */

    .buttons{
        border: 1px solid red;
        width: 8rem;
        height: 3rem;
        margin-left: 1rem;
        bottom: 15rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    #restart-button, .score, #next-button{
        /* border: 1px solid red; */
        border: 0px;
        width: 3rem;
        height: 1rem;
        font-size: 8px;
        font-weight: bold;
    }
    
    .score h3{
        padding-top: 2px;
    }

    #next-button{
        font-size: 8px;
    }
    
    a{
        display: flex;
        text-decoration: none;
    }

    .complete-puzzle img{
        width: 8rem;
        height: 6rem;
    }
} 
