@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');

*{
    font-family: 'Istok Web', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow: hidden;
    color: white;
}

body{
    background-image: url("./Images/Screen\ 20.png");  
    position: absolute;
}

h2{
    font-size: 25px;
    margin: 3vw 30vw 2vw;
}


/* win page */
.complete-puzzle{
    width: 54vw;
    height: 34vw;
    margin: 1vw 23vw;
}

.back{
    border: 0;
    position: absolute;
    height: 3.5vw;
    width: 3.5vw;
    left: 1.5vw;
    bottom: 38vw;
    border-radius: 50px;
    background-color: rgba(241, 72, 122, 1);
    transition: 0.5s ease;
}

.back img{
    margin-top: 0.4vw;
    transform: scale(1.1);
}

.back:hover{
    background-color: #5698d0;
}

/*  */

.buttons{
    position: absolute;
    border: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    height: 4vw;
    bottom: 0.1vw;
    left: 20vw;
}

#restart-button, .score, #next-button{
    border: 0px;
    width: 13vw;
    height: 3.5vw;
    border-radius: 35px;
    background-color: rgba(241, 72, 122, 1);
    font-size: 25px;
    transition: 0.5s ease;

}

#restart-button:hover {
    background-color: #5698d0;
}

#next-button:hover{
    background-color: #5698d0;  
}
.score{
    font-size: 23px;
    padding-top: 5px;
    height: 3.1vw;
}

.score:hover{
    background-color: #5698d0;
}

.complete-puzzle img{
    width: 45vw;
    height: 29vw;
}

/* responsive */
@media screen and  (max-width: 600px)
{

    body{
        background-image: url("./Images/level\ bg\ img.png");  
        background-size: cover;
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
    }

    h2{
        font-size: 27px;
        width: 79vw;
        margin: 30vw 11vw 0vw;
    }
    
    /* win page */
    .complete-puzzle{
        width: 89vw;
        height: 60vw;
        margin: 10vw 5.5vw;
    }
    
    .complete-puzzle img{
        width: 89vw;
        height: 60vw;
    }


    .back{
        height: 10vw;
        width: 10vw;
        left: 3vw;
        bottom: 200vw;
    }

    
    
    .back img{
        margin-top: 1.5vw;
        width: 20px;
        height: 20px;
    }

    /*  */

    .buttons{
        width: 80vw;
        height: 30vw;
        bottom: 50vw;
        left: 10vw;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    #restart-button, .score, #next-button{
        border: 0px;
        width: 35vw;
        height: 10vw;
        font-size: 7vw;
        font-weight: bold;
        transform: scale(1.1);
        transition: 0.5s ease;
    }
    
    .score{
        padding-top: 2px;
        height: 9vw;
    }
    
    #next-button{
        font-size: 7vw;
    }

    a{
        display: flex;
        text-decoration: none;
    }

} 
